.discount-price{
    font-size: 14px;
    color: grey;
    text-decoration: line-through;
    margin-left: 4px;
}
.underline-div{
    border-top: 1px solid grey;
    width: 90%;
}
.select-box-style{
    background-color: rgba(128, 128, 128, 0.388);
    outline: 0;
    padding: 10px 40px;
    color: color;
    border: 0;
}
.stock-para{
    color: #F09522 ;
    font-size: 14px;
}
.cart-btn{
    background-color: black;
    outline: 0;
    padding: 10px 40px;
    color: color;
    border: 1px solid black;
    font-weight: bold;
    color: white;
}
.buy-btn{
    background-color: #F09522;
    outline: 0;
    padding: 10px 50px;
    color: color;
    border: 1px solid #F09522;
    font-weight: bold;
    margin-left: 10px;
    color: white;
}
.buy-btn:hover{
    background-color: white;
    color: #F09522;
}
.cart-btn:hover{
    background-color: white;
    color: black;
}
.wishlist-style{
    color: #52525273;
    font-size: 14px;
}
.desc{
    font-size: 15px;
}
.square-style{
    border: 8px solid rgba(128, 128, 128, 0.756);
}
.details-para{
    font-size: 14px;
    margin-left: 8px;
}

@media (max-width:576px) {
    .buy-btn{
        background-color: #F09522;
        outline: 0;
        padding: 10px 25px;
        margin: 20px;
        color: color;
        border: 1px solid #F09522;
        font-weight: bold;
        margin-left: 10px;
        color: white;
    }
    .cart-btn{
        background-color: black;
        outline: 0;
        padding: 10px 18px;
        color: color;
        border: 1px solid black;
        font-weight: bold;
        color: white;
    }
}